html, body {
	margin: 0px;
	background-color: #171717
}

canvas {
	background-color: #171717;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

.main { 
	position: relative; 
	width: 100%; /* for IE 6 */
 }
 
 h2 { 
	position: absolute; 
	top: 10px; 
	left: 10px; 
	color: white; 
	font-family: sans-serif;
	font-size: 16px;
 }
